body {
    margin: 0px;
    margin-top: 0px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 100px;
    background-color: #222222;
}

.container {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

header {
    margin-top: 0px;
    background: #45ac92;
}


    header::after {
        content: '';
        display: table;
        clear: both;
    }

h1 {
    margin-left: 25px;
    padding-top: 20px;
    color: #eefffc;
}

h2 {
    margin-left: 25px;
    color: #eefffc;
    font-family: 'Work Sans', sans-serif;
}

h3 {
    font-family: 'Work Sans', sans-serif;
    color: #eefffc;
}

p {
    font-family: 'Work Sans', sans-serif;
    color: #eefffc;
    margin-left: 55px;
}

b {
    font-family: 'Work Sans', sans-serif;
    color: #eefffc;
    margin-left: 50px;
}

table {
    font-family: 'Work Sans', sans-serif;
    color: #eefffc;
    text-align: center;
}

label {
    color: #eefffc;
}
img {
    border: 10px;
}
img.medium {
    width: 350px;
}

table {
    margin-left: 50px
}
nav {
    float: right;
}

    nav ul {
        margin: 0;
        
        padding: 0;
        list-style: none;
    }

    nav li {
        display: inline-block;
        margin-left: 70px;
        padding-top: 35px;
    }

    nav a {
        color: rgb(71, 71, 71);
        font-size: 20px;
        text-decoration: none;
        text-transform: uppercase;
    }

        nav a:hover {
            color: #000;
        }

    nav div {
        color: rgb(83, 83, 83);
        text-decoration: none;
        text-transform: uppercase;
    }

        nav div:hover {
            color: #000000;
        }